* {
  margin: 0;
  padding:0;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background: linear-gradient(90deg,#1192b9 10%,#a0d7f6 90%);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-nav {
  font-size: large;
  margin-top:1em
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
