header {
    background-color: #333;
    height: 50px;
    margin-bottom: 0;
    color: #ddd;
}

.nav {
    list-style: none;
    text-decoration: none;
    margin-left: 6em;
}

@media screen and (max-width: 479px) {
    .nav {
        margin-left: -1.5em;
    }
}

#navbar {
    margin-bottom: 0
}
#logo-nav{
    position: absolute;
    width: 18em;
    left:200px;

}
#logo {
    font-size: 1.5em;
    color: #1d976c
}

#forgot_password {
    float: left
}

#nv-menu {
    margin-right: 50px;
    margin-top: 9px
}

a {
    text-decoration: none;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-header {
    display: inline-block;
    float: left;
}

.navbar-nav {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    height: 45px;
    line-height: 45px;
    clear: both;
}

.navbar-nav:before {
    display: table;
    content: " ";
}

.navbar-nav:after {
    display: table;
    content: " ";
}

.navbar-nav li {
    float: left;
    margin-left: 20px;
}

.navbar-nav li span {
    cursor: pointer;
}

.navbar-nav li.selected {
    height: 50px;
    background-color: #5e5e5e;
    padding: 0 10px;
    border-bottom: 2px solid #fff;
}

.navbar-nav li span:hover {
    color: #fff;
}

#bs-navbar span.btn {
    display: none;
    margin-left: 12em;
    width: 200px;
}

/**
 * 响应式
 */
@media screen and (max-width: 479px) {
    #logo-nav {
        width: 15em;
        left: -25px;
    }
    #logo {
        font-size: 1.2em;
        color: #1d976c
    }

    #bs-navbar .navbar-nav {
        display: none;
        position: relative;
        z-index: 1000;
        width: 100%;
    }

    /*#bs-navbar span:hover ~ ul{*/
    /*display: block;*/
    /*}*/
    #bs-navbar .navbar-nav li {
        clear: both;
        border-top: 1px solid #ddd;
        background-color: #2d3e4d;
        width: 100%;
        margin: 0;
    }

    #bs-navbar span.btn {
        display: inline;
        line-height: 50px;
    }

    .menu-btn:hover ~ #bs-navbar .navbar-nav {
        display: block;
    }

    #bs-navbar .navbar-nav li.selected {
        padding: 0;
        border: none;
    }
}

@media screen and  (min-width: 1400px) {
    .container {
        width: 1170px;
    }
}

@media screen and  (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/*
@media screen and  (min-width: 768px) {
    .container {
        width: 750px;
    }
}*/
